<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>O melhor pior site de todos os tempos</p>
        <img class="caminhao" src="/img/CaminhãoCaixas.png" />
    </div>
    {{>footer}}

</body>

</html>